@font-face{
    font-family: apercu;
    src: url(./fonts/Apercu-1/Apercu\ Light.otf);
}

@font-face{
    font-family: futurak;
    src: url(./fonts/futurak.ttf);
}

@font-face{
    font-family: butler;
    src: url(./fonts/butler-cufonfonts/Butler_Regular.otf);
}




*{ 
    margin:0;
    padding:0; 
    box-sizing:border-box;
    color: #ffffff;
    background-color: #000000;

} 

/* HEADER START */

.header{
    /* border: 5px solid yellow; */
    background-color:#000000;
}

.navbar-logo{
    padding-left: 13%;
    padding-right: 15%;
}


ul li a{ 
    text-decoration: none;
    padding: 17px 36px 0px 0px;
    position: relative;
    bottom: 30px;
    font-family: apercu;
    font-size: 16px;
    font-weight: 400;
}


ul li{
    display: inline-block;
}

.get-franchise{
    border: 1px solid #fff;
    border-radius: 35px;
    padding: 18px;
    font-family: apercu;
    font-size: 15px;
    font-weight: 400;
}

.get-order{
    background-color: red;
    border-radius: 35px;
    padding: 18px;
    font-family: apercu;
    font-size: 15px;
    font-weight: 400;
}

.fa-solid{
    background-color: #fff;
    color: #dc3545;
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}

/* HEADER END */

/*  SLIDER START  */

.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;
    width: 100%;
}

.slideshow-container {
    position: relative;
    margin: auto;
    width: 100%;
}

.dot {
    height: 10px;
    width: 30px;
    margin: 0 2px 25px;
    background-color: #bbb;
    border-radius: 10px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #707070;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*  SLIDER END  */

/* MID SECTION START */
.welcome-container{
    background-color: #000000;
    text-align: center;
}

.welcome-container h2{
    font-family: apercu;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.mid-text{
    font-family: futurak;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}

.welcome-container p{
    font-family: apercu;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
}


.welcome-box img{
    background-color: #ffffff;
}

.boxes{
    width:255px ;
    height:150px ;
    padding: 20px;
    margin: 15px;
    border-radius: 3px;
    cursor: pointer;
}

.welcome-btn span{
    display: inline-block;
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-family: apercu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 60px;
    margin-top: 5px;
}

/* MID SECTION END */



/* SECOND SECTION START  */



.second-container h2{
    text-align: center;
    margin-bottom: 8px;
    font-family: butler;
    font-style: normal;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.second-container p{
    text-align: center;
    font-family: apercu;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 48px;
}

.capital{
    text-transform: uppercase;
    font-family: apercu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    color: #ED1C24;
    margin-bottom: 8px;
    display: block;
}

.left-row{
    position: relative;
    left: 16%;
    display: inline-block;
}

.left-row h3{
    font-family: apercu;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.left-text{
    font-family: futurak;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.left-row p{
    font-family: apercu;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}

.left-row p a{
    text-decoration: none;
    font-family: apercu;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
}

.get-btn{
    border: 1px solid rgba(255, 255, 255, 0.3);;
    text-decoration: none;
    border-radius: 35px;
    padding: 18px;
    font-size: 15px;
    font-weight: 400;
}



/* SECOND SECTION END  */



/* THIRD SECTION START */


.third-container{
    margin-top: 10%;
}

.third-container h2{
    text-align: center;
    margin-bottom: 8px;
    font-family: butler;
    font-style: normal;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.third-mid-text{
    font-family: futurak;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}

.third-boxes{
    text-align: center;
    /* margin-top: 5%; */
}

.t-box{
    display: inline-block;
    padding: 15px;

}

.t-box small{
    font-family: apercu;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    text-align: center;
    margin-bottom: 8px;
    display: block;
    margin-top: 24px;
}

.t-box h3{
    font-family: apercu;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.t-box-txt{
    font-family: futurak;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.t-box p{
    font-family: apercu;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 12px;
}

.t-box p a{
    font-family: apercu;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 12px;
    text-decoration: none;
}


#cross-arrow {
    transform: rotate(-37deg);
}


/* THIRD SECTION END */


/* FOURTH SECTION START  */

.village-franchise{
    margin-top: 8%;
}

.village-franchise h2{
    text-align: center;
    margin-bottom: 8px;
    font-family: butler;
    font-style: normal;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.village-mid-text{
    font-family: futurak;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}

.row {
    padding-top: 1%;
}

.row-img{
    display: inline-block;
    padding-left: 5%;

}

.row-content{
    /* border: 1px solid orange; */
    display: inline-block;
    padding: 2%;
    position: relative;
    bottom: 111px;
}

.row-content b{
    font-family: apercu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    color: #ED1C24;
    margin-bottom: 8px;
    display: block;
}

.row-content h3{
    font-family: apercu;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.village-txt-bold{
    font-family: futurak;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.row-content p{
    font-family: Apercu;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}


.row-content p a{
    font-family: Apercu;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}


 .row-content a {
    text-decoration: none;
 }

 .row-content a span.get-order{
    background-color: #28a745;

 }

 .row-content a span.get-order i.fa-solid.fa-arrow-right{
    background-color: #fff;
    color: #28a745;

 }

 /* FOURTH SECTION END  */



 /* FIFTH SECTION START */
 .express-franchise{
    margin-top: 8%;
 }

 .express-franchise h2{
    text-align: center;
    font-family: butler;
    font-style: normal;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 8px;
 }

 .express-mid-text{
    font-family: futurak;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
 }

 .express-franchise h2 small{
    font-style: normal;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
 }

 .map-boxes{
    padding-top: 28px;
    text-align: center;
 }

 .e-box{
    width: 360px;
    height: 250px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    margin: 1%;
    margin-bottom: 32px;
    display: inline-block;
 }

 .e-box img{
    background: #FFFFFF;
    position: relative;
    left: 20%;
    top: 5%;
 }

 .e-box small{
    font-family: Apercu;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.48em;
    text-transform: uppercase;
    background: #FFFFFF;
    color: #ED1C24;
    margin-bottom: 18%;
    display: inline-block;
    position: relative;
    top: 23%;
    right: 10%;
 }

 .e-box h4{
    font-family: 'FuturaBlack BT';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    background: #FFFFFF;
    color: #000000;
 }

 .e-box h4 span.logo-text-hold-second{
    font-weight: 600;
    margin-right: 8px;
    font-size: 24px;
    color: #000000;
    background: #FFFFFF;

 }

 .e-box p{
    font-family: 'FuturaBlack BT';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    background: #FFFFFF;
    color: #000000;
 }

 /* FIFTH SECTION END */


 /* SIX SECTION START */

 .six-container{
    margin-top: 2%;

 }

 .six-container h3{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: butler;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
 }

 .food-images{
    margin-top: 2%;
    margin-left: 11%;
 }

 .food-images img{
    width: 240px;
    cursor: pointer;
    padding: 8px;
 }

  /* SIX SECTION END */



 